%nav.sticky-top.navbar.navbar-expand-lg.navbar-dark.header{style: "background-color: rgb(0, 0, 0, 0.5);"}
  = link_to "AnimeMap", root_path, class: "navbar-brand"
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to "投稿一覧", display_posts_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item
          = link_to "投稿する", new_post_path, class: "nav-link"
        %li.nav-item
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li.nav-item
          = link_to "ログイン", new_user_session_path, class: "nav-link"
        %li.nav-item
          = link_to "新規登録", new_user_registration_path, class: "nav-link"
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{aria:{label: "Search"}, placeholder: "キーワードから検索", type: "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} 検索