.display-warpper
  = render "shared/header"
  .head
    .head__text 全ての投稿
  .main
    .posts-container
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon-star'
            %span 0

  = render "shared/footer"