.display-warpper
  = render "shared/header"
  .head
    .head__text 全ての投稿
  .main
    .posts-container
      = render partial: 'posts/post-list', collection: @posts, as: "post"
      .card.h-100.thumbnail
        .card-top
          = image_tag('first_slide.jpg', class: "card-top__img", alt: "First slide")
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        .card-top
          = image_tag('second_slide.jpg', class: "card-top__img", alt: "second_slide")
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        .card-top
          = image_tag('third_slide.jpg', class: "card-top__img", alt: "third_slide")
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        .card-top
          = image_tag('first_sample.jpg', class: "card-top__img", alt: "first_sample")
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon'
            %span 0
      .card.h-100.thumbnail
        .card-top
          = image_tag('second_sample.jpg', class: "card-top__img", alt: "second_sample")
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
          .text-right
            = fa_icon 'star', class: 'icon-star'
            %span 0

  = render "shared/footer"