.new-post-container
  .header
  .main
    .main_head 新規投稿
    = form_with model: @post, class: "form", id: "post-form" do |f|
      .form-group
        = f.label :name, "名前"
        = f.text_field :name, class: "form-control", placeholder: "名前（必須 40文字まで）", maxlength:40
      .form-group
        = f.label :image, "画像をアップロード"
        = f.file_field :image, class: 'input-file'
      .form-group
        = f.label :place, "地名"
        = f.text_field :place, class: "form-control", placeholder: "地名（必須 40文字まで）", maxlength:40
      .form-group
        = f.label :anime_title, "作品タイトル"
        = f.text_field :anime_title, class: "form-control", placeholder: "名前（必須 40文字まで）", maxlength:40
      .form-group
        = f.label :description, "説明"
        = f.text_area :description, class: "form-control", rows: "5", cols: 40, maxlength:1000, placeholder: "聖地の説明（必須 1,000文字以内）"
      = f.submit "投稿する", class: "btn btn-info new-post-submit"
  .footer