.new-post-container
  .header
  .main
    .main_head 新規投稿
    = form_with model: @post, class: "form", id: "post-form" do |f|
      .form-group
        %input.form-control
        = f.label :name, "名前"
      .form-group
        %input.input-file{type: "file"}
        = f.label :image, "画像をアップロード"
      .form-group
        %input.form-control
        = f.label :place, "地名"
      .form-group
        %input.form-control
        = f.label :anime_title, "作品タイトル"
      .form-group
        %textarea.form-control{rows: "4"}
      %button.btn.btn-info.new-post-submit{type: "submit"} 投稿する
        = f.label :description, "説明"
  .footer