.show-wrapper
  = render "shared/header"
  .show-wrapper
    .main-photo
      = image_tag @post.image.url, class: 'img-responsive center-block'
    .post-info
      .post-info__head
        .col-xs-12.col-sm-5.col-md-6.pb010
          .title
            = @post.name
          .user-info
            .user-info__img
              = image_tag('no_image.jpg', class: "img-thumbnail__display", alt: "no image")
            .user-info__details
              .user-info__details__username
                = @post.user.nickname
              .user-info__details__date
                = "投稿日: #{@post.created_at.strftime("%Y年%m月%d日 %H時%M分")}"
        .col-xs-12.col-sm-7.col-md-6.head-right
          .post-details
            .post-details__anime-title
              = "作品名: 『#{@post.anime_title}』"
            .post-details__place
              = "場所: #{@post.place}"
          %div{id: "likes_buttons_#{@post.id}", class: "post-likes"}
            = render partial: 'likes/like', locals: { post: @post}
            -# - if user_signed_in?
            -#   - if current_user.already_liked?(@post)
            -#     = button_to post_like_path(@post), {method: :delete, class: "btn btn-danger fav", remote: true} do
            -#       = fa_icon 'heart', class: 'icon-already'
            -#       .count
            -#         #{@post.likes.count}
            -#   - else
            -#     = button_to post_likes_path(@post), {class: "btn btn-danger fav", remote: true} do
            -#       = fa_icon 'heart', class: 'icon'
            -#       .count
            -#         #{@post.likes.count}

          - if user_signed_in? && @post.user_id == current_user.id
            .post-option
              = link_to edit_post_path(@post), class: "edit-link" do
                %button.btn.btn-light{type: "button"} 編集する
              = link_to post_path(@post.id), method: "delete", class: "delete-link", data: { confirm: '本当に削除しますか？' } do
                %button.btn.btn-light{type: "button"} 削除する
      .post-info__middle
        .post-info__middle__left.col-xs-12.col-sm-5.col-md-5.pb010
          .post-info__middle__left__description
            = simple_format(@post.description)
        .post-info__middle__right.col-xs-12.col-sm-7.col-md-7.pb010
          .post-info__middle__right__map
            = image_tag('shirakawago_map.jpg', class: "img-responsive center-block", alt: "shirakawago map")
      .post-info__foot
        .post-info__foot__left.col-md-8
          .comment
            - if user_signed_in?
              = form_with(model: [@post, @comment], local: true, id: "new_comment") do |f|
                .comment__form
                  .comment__form__head
                    = fa_icon 'edit', class: 'icon'
                    この写真にコメントする
                  .comment__form__body
                    = f.text_area :text, rows: "4", cols: 40, maxlength:1000, class: "comment__form__body__text-form form-control textbox"
                    = f.submit "コメントを投稿する", class: "comment__form__body__submit btn btn-danger form__submit"
            .comment__head
              = fa_icon 'comment', class: 'icon'
              この写真のコメント
            = render partial: 'comments/comments', collection: @comments, as: "comment"
        .post-info__foot__right.col-md-4
          .like
            .like__head
              = fa_icon 'heart', class: 'icon'
              この投稿のお気に入りユーザー
            - @post.liked_users.each do |user|
              .like__user
                = user.nickname
  = render "shared/footer"